/* ||| MAIN ||| */
/* ALL */
* {
    box-sizing: border-box;
}

/* HTML */
html {
    color: #e0e0e0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    line-height: 1.7;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
    box-sizing: border-box;
    background-color: #121212;
}

/* NAV */
#nav-menu {
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.4, 0, 1, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    padding: 10px 0;
    background-color: #1f1f1f;
    border-bottom: 3px solid #3a3a3a;
    font-weight: bold;
}

#nav-menu.hidden {
    transform: translateY(-100%);
}

.nav-link {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

.nav-link:hover {
    border-bottom: 3px solid #505050;
}

.nav-link.active {
    cursor: default;
    border-bottom: 3px solid #ffffff;
}

main {
    margin: 0 auto;
    padding-top: 90px;
}

.nav-content {
    display: none;
}

.nav-content.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

.container:hover {
    transition: transform 0.7s 0.5s;
    transform: scale(1.05);
}

.author-title {
    text-align: center;
    font-weight: bold;
}

.poem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Old Standard TT", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
}
